* text=auto !eol
/CreatePlgX.bat -text
MSAALister/MSAALister.csproj -text
MSAALister/Program.cs -text
MSAALister/Properties/AssemblyInfo.cs -text
MSAALister/WM.cs -text
MSAALister/app.config -text
/PlgXExclude.txt -text
/Readme.txt -text
Releases/PackageRelease.bat -text
UIALister/App.config -text
UIALister/Program.cs -text
UIALister/Properties/AssemblyInfo.cs -text
UIALister/UIALister.csproj -text
/WebAutoType svn_global_002dignores=*.DotSettings%0A
WebAutoType/AccessibleObjectHelper.cs -text
WebAutoType/BrowserUrlReader.cs -text
WebAutoType/ChromeAccessibilityWinEventHook.cs -text
WebAutoType/ChromeBrowserUrlReader.cs -text
WebAutoType/EdgeBrowserUrlReader.cs -text
WebAutoType/EditAutoTypeExtraControls.Designer.cs -text
WebAutoType/EditAutoTypeExtraControls.cs -text
WebAutoType/EditAutoTypeExtraControls.resx -text
WebAutoType/FirefoxBrowserUrlReader.cs -text
WebAutoType/HotKeyManager.cs -text
WebAutoType/InternetExplorerBrowserUrlReader.cs -text
WebAutoType/Options.Designer.cs -text
WebAutoType/Options.cs -text
WebAutoType/Options.resx -text
WebAutoType/Properties/AssemblyInfo.cs -text
WebAutoType/Properties/Resources.Designer.cs -text
WebAutoType/Properties/Resources.resx -text
WebAutoType/WebAutoType.csproj -text
WebAutoType/WebAutoType.sln -text
WebAutoType/WebAutoTypeExt.cs -text
WebAutoType/WebBrowserUrl.cs -text
